<!DOCTYPE html>
<html>
<head>
<title>Fluential</title>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<header>
		<h1>Fluential</h1>
		<nav>Brand menu</nav>
		<nav>Influencer menu</nav>
	</header>
	<section>SEARCH BAR HERE</section>
	<article>
		<aside>IMAGE HERE</aside>
		<header>2,060,532 views</header>
		<p>Lifestyle and fashion beauty vlogger</p>
	</article>
</body>
</html>
