<!DOCTYPE html>
<html>
<head>
	<title>Fluential</title>
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>

<!-- HEADER -->
	<header id="top">
		<img class="logo" src="/fluential_logo_transparent.png">
		<nav>
			<a href="#" class="brand-nav">Brand menu</a>
			<a href="#" class="influencer-nav">Influencer menu</a>
		</nav>
	</header>

<!-- SEARCH BAR -->
	<section class="search" style="color:#E8E8E8;font-size:xx-large;">Begin typing to search</section>

<!-- SEARCH RESULTS -->
	<div class="container">
	<article>
		<aside>
			<img src="/zoella.jpg">
		</aside>
		<header>2,060,532 views</header>
		<p>Lifestyle and fashion beauty vlogger. Fashion and dating advice.</p>
	</article>	

	<article>
		<aside>
			<img src="/devin.jpg">
		</aside>
		<header>1,063,332 views</header>
		<p>Talented filmmaker with a focus on extreme sports.</p>
	</article>

	<article>
		<aside>
			<img src="/lindsey.jpg">
		</aside>
		<header>8,124,534 views</header>
		<p>American violinist, dancer, performance artist and composer.</p>
	</article>

	<article>
		<aside>
			<img src="/bart.jpg">
		</aside>
		<header>3,024,533 views</header>
		<p>Crazy parodies, pranks and music spoofs.</p>
	</article>
	</div>

<!-- footer -->
	<footer>
		<p style="text-align:right;padding-right:30px;"><a href="#top">Top &uarr;</a></p>
		<p style="text-align:center;color:grey;">&copy; 2014 <a class="copyright-link" href="http://nicyeeles.com">Nic Yeeles</a></p>
	</footer>

</body>
</html>
